/*
 * Bootstrap custom theme for the KCL Maxwell Society website
 *
 * Color palette
 * King's red: #ee2d24
 * King's red darker: #d12b29
 * red: #ff0066
 *
 */

/* FONT */

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rbah-webfont.eot');
  src: url('../fonts/linlibertine_rbah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rbah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rbah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rbah-webfont.svg#linux_libertinebold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rah-webfont.eot');
  src: url('../fonts/linlibertine_rah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rah-webfont.svg#linux_libertineregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_riah-webfont.eot');
  src: url('../fonts/linlibertine_riah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_riah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_riah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_riah-webfont.svg#linux_libertineitalic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rzah-webfont.eot');
  src: url('../fonts/linlibertine_rzah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rzah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rzah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rzah-webfont.svg#linux_libertinesemibold') format('svg');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rbiah-webfont.eot');
  src: url('../fonts/linlibertine_rbiah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rbiah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rbiah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rbiah-webfont.svg#linux_libertinebold_italic') format('svg');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rziah-webfont.eot');
  src: url('../fonts/linlibertine_rziah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rziah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rziah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rziah-webfont.svg#linux_libertineSBdIt') format('svg');
  font-weight: 600;
  font-style: italic;

}

/* END FONT */

body {
  position:relative; /* Required by the ScrollSpy plugin */
  margin-top:50px; /* match the 50px height navbar */
  font-family: "Linux Libertine", "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.333333; /* 24px for 18px size */
  color: #000;
}

.container-fluid {
  max-width: 1170px;
}

#main-nav {
  background:white;
  border-bottom:1px solid #eee;
}

#main-nav a{
  color:black;
  font-weight:bold;
}

#main-nav .nav a{
  font-variant: small-caps;
  transition: background 0.5s;
}

#main-nav a.navbar-brand {
  padding-left: 64px ; /* 32 + (50 - 32 )/2 +15 to match the top and bottom margin */
  background: transparent url('http://placehold.it/32x32') no-repeat 15px center;

}

#main-nav .nav a:hover,
#main-nav a.navbar-brand:hover {
  text-decoration:underline;
}

.jumbotron {
  color:white;
  background:#ee2d24; /* In case broser doesn't understand multiple backgrounds */
  background: url('../media/noise-texture.png'), linear-gradient(to top right, #d12b29 0%, #ee2d24 100%);

  padding:64px 0px;
  margin:65px 15px 15px 15px;
  border-radius:3px;
  box-shadow:  inset 0px -10px 10px -10px rgba(255, 102, 0, 0.33);
}

.jumbotron h1 {
  margin: 0px 0px 64px 0px;
}

.jumbotron .btn {
  font-weight:bold;
  margin-right:12px;
  margin-top:64px; /* To be removed on sd display */
}

.jumbotron-social-links a{
  display:inline-block;
  height:24px;
  width:40px;
  margin:12px 0px 0px 15px; /* top mergin: in case of very small screen in which icon are arranged in two rows */
  vertical-align:bottom;
}

.icon-replace span{
  display:none; /* hide the text, is replaced by an background icon */
}

.jumbotron .icon-replace {
  background: transparent url('') center 0px no-repeat;
  opacity:1;
  transition: opacity 0.5s;
}

.jumbotron .icon-replace:hover {
  opacity:0.8;
}

.jumbotron .icon-mail-24 {
  background-image: url('../media/icons/mail-24.png');
}

.jumbotron .icon-facebook-24 {
  background-image: url('../media/icons/facebook-24.png');
}

.jumbotron .icon-twitter-24 {
  background-image: url('../media/icons/twitter-24.png');
}

#logo {
  padding: 15px;
  background: #d12b29;
  box-shadow: inset 1px 1px 4px rgba(30,30,30,0.1),  0px 0px 4.0px rgba(255,255,255,0.10);
  border-radius: 50%;
}

footer {
  margin-top:48px;
  padding: 64px 0px;
  background:#6c5353;
}

.section:before {
  width:50%;
  border-bottom:1px solid #ccc;
  display:block;
  margin: 64px auto 0px auto;
}

h2 {
  font-size:36px;
  padding-top:49px; /* padding instead of margin so that when scrolling there's a
                     * small margin above. As the smooth-scroll plugin takes into
                     * account the top margin resulting from the collapse of the
                     * body (50px, what I want as real offset as it matches the
                     * navbar height) and first element one (the jumbobox, 65px),
                     * I leave 15px to the margin-top.
                     */
  margin: 15px 0px 24px 0px;
}

h3 {
  font-size:24px;
  line-height:48px;
  margin: 0px 0px 24px 0px;
}

.claims .glyphicon {
  display:block;
  font-size:128px;
  text-align:center;
  margin: 15px 0px;
  color:#555;
}

.claims h3 {
  font-size:30px;
  text-align: center;
  margin:0px 0px 15px 0px;
}

@media (min-width: 768px) {

  .jumbotron h1 {
    font-size:48px;
  }

  .jumbotron .btn {
    margin-top: 0px;
  }

  .claims {
    overflow:hidden; /* avoid scrollbars due to the negative margin of .claim-container */
  }

  .claims-container {
    display:table;
    width:auto;
    border-collapse:separate;
    border-spacing:30px 0px;
    margin: 0 -30px; 
  }

  .claims .col-sm-4 {
    display:table-cell;
    float:none; 
  }

  .claims .glyphicon {
    float:right;
    font-size:inherit;
    margin:0;
  }

  .claims h3 {
    text-align:left;
  }
}

.claim-1, .claim-2, .claim-3 {
  background: #f5f5f5;
  padding:15px;
  border-radius: 3px;
  margin:15px 0px;
}

.committee-member {
  margin:48px 0px;
  font-size:125%;
  text-align: center;
}

.committee-member img {
  width:160px;
}
.member-name {
  margin-top:15px;
}

.member-role {
  font-variant: small-caps;
}

.member-social-links {
  text-align: center;
}
.member-social-links .icon-replace {
  display:inline-block;
  height:24px;
  width:40px;
  margin:12px 0px 0px 15px; /* top mergin: in case of very small screen in which icon are arranged in two rows */
  vertical-align:bottom;
}

.member-social-links .icon-replace {
  background: transparent url('') center 0px no-repeat;
  opacity:1;
  transition: opacity 0.5s;
}

.member-social-links a.icon-replace:hover {
  opacity:0.8;
}

.member-social-links span.icon-replace {
  background-position: center -100px;
}

.member-social-links .icon-mail-18 {
  background-image: url('../media/icons/mail-18.png');
}

.member-social-links .icon-facebook-18 {
  background-image: url('../media/icons/facebook-18.png');
}

.member-social-links .icon-twitter-18 {
  background-image: url('../media/icons/twitter-18.png');
}


#upcoming-events-list {
  list-style:none;
  margin:0;
  padding:0;
}

#upcoming-events-list li {
  margin:5px 0;
  border-top:2px solid #ee2d24;
  background: #f2f2f2;
  padding:15px 10px;
  overflow:visible;
}

#upcoming-events-list li:before{
  content: none;
}

#upcoming-events-list p {
  margin-bottom: 10px;
}
#upcoming-events-list .event-title {
  font-size:125%;
}

#upcoming-events-list .event-date {
  float: right;
  width: 65px;
  background: #ee2d24 url('../media/noise-texture.png');  /* In case broser doesn't understand multiple backgrounds */
  background: url('../media/noise-texture.png'), linear-gradient(to top right, #d12b29 0%, #ee2d24 100%);
  box-shadow: rgba(0,0,0,0.1) 2px 1px 6px 0px;
  color: white;
  border-radius:3px;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-right:5px;
  margin-top:-27px;
}

#upcoming-events-list .event-date span {
    display: block;
}

#upcoming-events-list .event-date .day {
  font-size: 27px;
  margin-bottom: 2px;
  line-height: 33px;
}

#upcoming-events-list .event-date .month,
#upcoming-events-list .event-date .year {
  font-size: 16px;
  line-height: 11px;
}

#joinform {
  margin: 64px 0px;
}


#joinform .icon-replace {
  display:inline-block;
  float:left;
  vertical-align: top;
  height:48px;
  width:56px;
  margin:0px 20px 24px 0px;
  background: transparent url('')  center top  no-repeat;
  opacity: 1.0;
  transition: opacity 0.5s;
}

#joinform .icon-replace:hover {
  opacity: 0.8;
}

#joinform .icon-mail-48 {
  background-image: url('../media/icons/mail-48.png');
  width:72px;
  margin-left:25px;
}

#joinform .icon-twitter-48 {
  background-image: url('../media/icons/twitter-48.png');
}

#joinform .icon-facebook-48 {
  background-image: url('../media/icons/facebook-48.png');
}

#joinform input {
  display: block;
  float:left;
  font-size: 18px;
  padding: 0px 12px 3px 12px;
  height:48px;
  margin:0px 0px 24px 0px;
}

#joinform .mail {
  background: #e6e6e6;
  border:2px solid #ee2d24;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: background 0.5s;
}

#joinform .mail:hover, #joinform .mail:focus {
  background: #fce94f;
}

.mail[placeholder] {
  color:black;
  opacity:1;
}

#joinform .send {
  background: #ee2d24;
  color:white;
  font-weight:bold;
  border:2px solid #ee2d24;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left:0;
}

#joinform .send:hover {
  background: #e4005b;
}
a {
  color: #ff0066;
}

a:hover, a:active, a:focus {
  color: #e4005b; /* 10% darker */
}

.btn-primary {
  background: #ff0066;
  border-color: #ff0066;
}

.btn-primary:hover,  .btn-primary:active, .btn-primary:focus {
  background: #e4005b; /* 10% darker */
  border-color: #e4005b;
}

.btn-primary:active{
  position:relative;
  top:1px;  /* Simulate pressed status */
}


.main-content ul {
  list-style: none;
}

.main-content ul li:before {
    content: "\25A0";
    font-size: 125%;
    line-height: 80%; /* smaller to keep the original line-height*/
    color: #ee2d24;
    display: inline-block;
    width: 1.2em;
    margin-left: -1.2em;
    text-shadow: #f57900 -0.2px 0.2px 0.5px;
}

.main-content li p {
  margin-bottom:24px;
}

.img-circle {
  padding:5px;
  background:#ee2d24 url('../media/noise-texture.png');
  background: url('../media/noise-texture.png'), linear-gradient(to top right,  #d12b29 0%, #ee2d24 100%);
  box-shadow: rgba(0,0,0,0.1) 2px 1px 6px 0px;
}

::selection {
  background: #ffd42a;
}

::-moz-selection {
  background: #ffd42a;
}
