/*
 * Bootstrap custom theme for the KCL Maxwell Society website
 *
 * Color palette
 * yellow: #ffd42a
 * red: #ff0066
 * blue: #0055d4
 *
 */

/* FONT */
@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rbah-webfont.eot');
  src: url('../fonts/linlibertine_rbah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rbah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rbah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rbah-webfont.svg#linux_libertinebold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rah-webfont.eot');
  src: url('../fonts/linlibertine_rah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rah-webfont.svg#linux_libertineregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_riah-webfont.eot');
  src: url('../fonts/linlibertine_riah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_riah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_riah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_riah-webfont.svg#linux_libertineitalic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rzah-webfont.eot');
  src: url('../fonts/linlibertine_rzah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rzah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rzah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rzah-webfont.svg#linux_libertinesemibold') format('svg');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rbiah-webfont.eot');
  src: url('../fonts/linlibertine_rbiah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rbiah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rbiah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rbiah-webfont.svg#linux_libertinebold_italic') format('svg');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/linlibertine_rziah-webfont.eot');
  src: url('../fonts/linlibertine_rziah-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linlibertine_rziah-webfont.woff') format('woff'),
       url('../fonts/linlibertine_rziah-webfont.ttf') format('truetype'),
       url('../fonts/linlibertine_rziah-webfont.svg#linux_libertineSBdIt') format('svg');
  font-weight: 600;
  font-style: italic;

}

/* END FONT */

body {
  position:relative; /* Required by the ScrollSpy plugin */
  margin-top:50px; /* match the 50px height navbar */
  font-family: "Linux Libertine", "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.25;
  color: #000;
}

.container-fluid {
  max-width: 1170px;
}

#main-nav {
  background:white;
  border-bottom:2px solid #ff0066;
}

#main-nav a{
  color:black;
  font-weight:bold;
}

#main-nav .nav a{
  font-variant: small-caps;
}

#main-nav .nav a:hover{
  background:#eee;
}

.jumbotron {
  background:#ffd42a;
  padding:64px 0px;
}

.jumbotron h1 {
  font-size:50px;
  margin:0;
  padding-bottom:48px;
}

footer {
  margin-top:48px;
  padding: 64px 0px;
  background:#6c5353;
}

.claims .glyphicon {
  display:block;
  font-size:150px;
  text-align:center;
  margin: 15px 0px;
  color:#333;
}

.claims h3 {
  font-size:30px;
  text-align: center;
  margin:0px 0px 15px 0px;
}

@media (min-width: 768px) {

  .claims {
    overflow:hidden; /* avoid scrollbars due to the negative margin of .claim-container */
  }

  .claims-container {
    display:table;
    width:auto;
    border-collapse:separate;
    border-spacing:30px 0px;
    margin: 0 -30px; 
  }

  .claims .col-sm-4 {
    display:table-cell;
    float:none; 
  }

  .claims .glyphicon {
    float:right;
    font-size:inherit;
    margin:0;
  }

  .claims h3 {
    text-align:left;
  }
}

.claim-1, .claim-2, .claim-3 {
  background: #f2f2f2;
  padding:15px;
  border-top:2px solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin:15px 0px;
}

.btn-primary {
  background: #ff0066;
  border-color: #ff0066;
}

.btn-primary:hover,  .btn-primary:active, .btn-primary:focus {
  background: #e4005b; /* 10% darker */
  border-color: #e4005b;
  outline:none !important; /* !importan is required at least in firefox to prevent the dotted
                              outline to appear while mouse is down. Focus is correctlu deactivated */
}

.btn-primary:active{
  position:relative;
  top:1px;  /* Simulate pressed status */
}
